<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="bin/www" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^bin/www/\w+" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" logRewrittenUrl="true"/>
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="bin/www" logRewrittenUrl="true"/>
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      nodeProcessCommandLine="C:\\Program Files\\nodejs\\node.exe"
      node_env="production"
      loggingEnabled="true"
      logDirectory="iisnodelog"
      debuggingEnabled="true"
      debuggerPortRange="5058-6058"
      debugHeaderEnabled="true"
      debuggerVirtualDir="__node-debug"
      maxLogFileSizeInKB="128"
      maxLogFiles="20"
      maxTotalLogFileSizeInKB="1024"/>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
